.navBar {
  padding: 16px 0 16px 0;
  padding-left: 32px;
  background-color: #34a5da;
}
.card_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.card {
  padding-top: 8px;
  padding-left: 80px;
  margin: 128px 128px 0 128px;
  height: 512px;
  width: 945px;
  background-color: #ebebeb;
  position: relative;
}

.pageNumber {
  position: absolute;
  top: 0;
  right: 1%;
  font-size: 32px;
  font-weight: 700;
}

.name {
  font-size: 40px;
  font-weight: 700;
  margin-top: 24px;
}

.name_line {
  border-bottom: #34a5da 2px solid;
}

.main-info {
  margin-top: 32px;
}

.main-info span {
  font-weight: 700;
  font-size: 24px;
  margin-right: 8px;
}

.button-wrap {
  width: 1025px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.arrow_button {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.arrow_button {
  font-size: 24px;
}

.button {
  font-size: 16px;
  background-color: #34a5da;
  border: none;
  border-radius: 16px;
  margin-left: 12px;
  margin-right: 12px;
  color: #ffffff;
  font-weight: 700;
  padding: 8px 16px 8px 16px;
}
